<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% function capitalize(string) { return string.charAt(0).toUpperCase() + string.slice(1); } %>
    <title>Quiz Matematyczny</title>
    </title>
    <link rel="stylesheet" type="text/css" href="<%= domain %>/css/style.css" media="all" />
</head>

<body>
  <script type="text/javascript">
    const preload = document.createElement("div");
    preload.className = "preloader";
    preload.innerHTML = '</div><div class="spinner"></div>';
    document.body.appendChild(preload);
    window.addEventListener("load", function () {
      setTimeout(() => {
        preload.className += " fade";
        setTimeout(function () {
          preload.style.display = "none";
        }, 500);
      }, 0);
    });
  </script>
  <%- include("./footer") %>
</body>

</html>